.custom-ui-verse-btn {
  background-color: #f3f7fe;
  color: #3b82f6;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  width: 100px;
  height: 45px;
  transition: 0.3s;
}

.custom-ui-verse-btn:hover {
  background-color: #3b82f6 !important;
  box-shadow: 0 0 0 5px #3b83f65f !important;
  color: #fff !important;
}
